In [6]:
import pandas as pd
import urllib.request
import json

In [7]:
#read data from today
df = pd.read_json("https://tsimobile.viarail.ca/data/allData.json")
#transpose data
df_t = df.transpose()

# Parse Via Routes

In [8]:
#subset columns to start and finish locations
via_routes = df_t[["from", "to"]]
# Get unique routes
unique_via_routes = via_routes.drop_duplicates()
#print(unique_routes)
# 30 unique routes

# Parse Via Trains

In [9]:
# keep the index as a column
df_t = df_t.reset_index()
via_trains = df_t['index']
# drop it
# 67 trains

# Parse all Via Locations

In [11]:
times = df_t['times']
# Flatten the list of DataFrames
flattened_dfs = [df for sublist in times for df in sublist]
#create df of times
via_times = pd.DataFrame(flattened_dfs)

In [ ]:
#subset columns to start and finish locations
via_locations = via_times[["station", "code"]]
# Get unique routes
unique_via_locations = via_locations.drop_duplicates()
#print(unique_routes)
# 342 unique locations

# Parse Train Stops

In [1]:
times = df_t[['times','index']]
# Flatten the list of DataFrames
flattened_dfs = [df for sublist in times for df in sublist]
#create df of times
via_times = pd.DataFrame(flattened_dfs)

NameError: name 'df_t' is not defined

In [30]:
# Initialize an empty list to store DataFrames with IDs
flattened_dfs = []

# Iterate over each row in x
for idx, row in times.iterrows():

    # Iterate over each DataFrame in the sublist
    i = 0
    for df in row['times']:
        # Add the ID as a column to the DataFrame
        df['ID'] = row['index']
        df['Train_Stop_ID'] = i
        i = i + 1
        # Append the DataFrame to the list
        flattened_dfs.append(df)

test_2 = pd.DataFrame(flattened_dfs)

In [35]:
via_train_stops = test_2[['ID','Train_Stop_ID','station']]

# Write Data

In [36]:
unique_via_routes.to_csv('via_train_metadata/routes.csv', index=False)
via_trains.to_csv('via_train_metadata/trains.csv', index=False)
unique_via_locations.to_csv('via_train_metadata/stop_locations.csv', index=False)
via_train_stops.to_csv('via_train_metadata/train_stops.csv', index=False)